{% extends 'base.html' %}

{% block content %}

<div class="card">
<h2>Welcome</h2>
<p>ตัวอย่างเว็บไซต์ร้านกาแฟ</p>
</div>

<div class="card">

<h2>เมนูแนะนำ</h2>

<div class="products">

<div class="product">
<img src="https://images.unsplash.com/photo-1509042239860-f550ce710b93">
<h3>เอสเพรสโซ่</h3>
<p>ราคา 60 บาท</p>
</div>

<div class="product">
<img src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085">
<h3>คาปูชิโน่</h3>
<p>ราคา 70 บาท</p>
</div>

<div class="product">
<img src="https://images.unsplash.com/photo-1511920170033-f8396924c348">
<h3>ลาเต้</h3>
<p>ราคา 75 บาท</p>
</div>

</div>

</div>

{% endblock %}